@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Teko:wght@400;600&display=swap');
/*fonts from google fonts*/


body {
    background-color: darkgrey;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.375rem + 0.5vw);
    /*    the above code is the font size plus the padding */
}

/*typography */

/*rem is used on the font sizes as its based on the root element and translates better*/

p {
    font-size: 1.5625rem;
    line-height: 1.125em;
    margin-bottom: 0.9375em;
    margin-top: 0.9375em;

    /*    theres a margin on the top and bottom to spread out each paragraph, */
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Teko', sans-serif;
    font-size: 1.250rem;
    text-align: left;
    margin-bottom: 0.625rem;
}


h1 {
    background-color: darkgrey;
    text-align: center;
    font-size: 4.375rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-style: normal;



}


h2 {
    font-size: 2.8125rem;
    font-weight: bold;
    border-bottom: 0.3125rem solid grey;
    padding-bottom: 0.125rem;
}

h3 {
    font-size: 2.1875rem;
}

h4 {
    font-size: 1.5625rem;
}

h5 {
    font-size: 1.000rem;
    font-family: 'Montserrat',
        sans-serif;
    text-align: center;
}

/*achor styles */
a {
    color: grey;
    background-color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

a:visited {
    color: #A3A3E7;
}

/*above to are for the intext clickable link*/

a:active {
    color: white;
    background-color: gray;
}

h1 a:visited {
    color: white;
    background-color: darkgray
}

h1 a:hover {
    text-decoration: none;
    color: #F3F3F7;
    /*the above flips the colours on the main nav links for the hover look*/
}



/*main containers */

.wrapper {
    width: 61.25rem;
    margin: 0px auto 0px auto;
    /*    this confines everything into the centre of the page*/
}

header {
    background-color: darkgray;
    height: 11.25em;
    padding: 1.25rem 0;

}

/*column for navigation items*/


nav {
    background-color: darkgrey;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-size: 1.9rem;

}

nav ul {
    margin-top: -60px;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a,
nav ul li a:visited {
    color: white;
    text-decoration: none;
    background-color: darkgray;
    padding: 0.625rem 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}

nav ul li a:hover,
nav ul li a.currentpage {
    background-color: white;
    text-decoration: none;
    color: darkgray;
    /*    current page is the same as the hover style. Helps to orientate the user*/
}

.col-middle {
    margin: 0 auto;
    padding-top: 3.75rem;
    /*      this centres the H1 nav inbetween the smaller nav items in the header*/
}

.left-item {
    float: left;

    /*    this puts the history and robin boyd nav to the left of the hearder*/
}

.right-item {
    float: right;
    /*     this puts the gallery and significance nav to the right of the hearder*/
}


.hero {
    background-image: url(../images/churchill-house-sketch.jpg);
    min-height: 43.75em;
    background-color: ivory;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /*this is the code for the main image at the top of the page. Its outsie of the wrapper so it goes across the whole website. */
}



.text-container {
    background-color: #fff;
    padding: 1.25em;
    overflow: auto;
    /*    the overflow: auto; helps the images stay inside the text container.*/
}

footer {
    background-color: black;
    text-align: center;
    padding: 1.25em;
    color: white;
}

.leftimg {
    max-width: 100%;
    height: auto;
    margin: 1.25em 0px;
    /*    coding for the images. Max width keeps the images across the whole page and also helps with their responsiveness when scaling up and down. */
}

/*below is the code for the mobile website version*/
@media (max-width: 30em) {
    .wrapper {
        width: 100%;
        /*        max width is 30em because thats the standard size for a mobile phone*/
    }


    .col {
        width: 100%;
        float: none;
    }

    .hero {
        min-height: 25em;
    }

    header {
        height: 18rem;
        padding: 1.25rem 0;
        /*        the hearder is larger to fit all the nav inside it*/
    }


    nav ul {
        padding-top: 0;
        margin-top: 1.25rem;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        line-height: 2.2em;
    }

    nav ul li a {
        padding: 6px;
    }

    .col-middle {
        padding-top: 0;
    }

    .left-item {
        float: none;
    }

    .right-item {
        float: none;
    }

    /*the item float is none to group them together in the centre*/
}

@media (min-width: 30em) and (max-width: 1020px) {}
